<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    <div class=container>
        <div class=header>
            <img src="{% static 'img/AWLogo.jpg' %}" alt="AWLogo">
            <h1>Home . Hack</h1>
            <a href="/dash"><h3>back</h3></a>
            <a href="/logout"><h3>log out</h3></a>
        </div>
        {% for project in filtered %}
        <div class=project_box>
            <a href="project_page/{{project.id}}">{{project.title}}</a>
            <br>
            <br>
            <img class="project_img" src="{{ MEDIA_URL }}{{project.post_image}}" alt="{{project.title}} image">
            <h4>Posted by: <a href="user_projects/{{project.poster.id}}">{{project.poster.first_name}} {{project.poster.last_name}}</a></h4>
            <h4>{{project.likes.count}} people like this</h4>
            <h4>{{project.comments.count}} comments</h4>
        </div>
        {% endfor %}
        <div class=footer>
            <p>build  .  connect  .  repeat</p>
        </div>
    </div>
</body>
</html>